---
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPost from '../common/BlogPost.astro'
import { getCollection } from 'astro:content'
import PageHeader from '../common/PageHeader.astro'

const allPosts = (await getCollection('blog')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<BaseLayout>
    <div class="flex flex-col gap-12">
        <PageHeader title="Posts" description=`총 ${allPosts.length}개의 포스트가 있습니다.` />

        <ul class="space-y-8">
            {
                allPosts.map((post) => (
                    <li>
                        <BlogPost
                            url={`/posts/${post.id}/`}
                            title={post.data.title}
                            description={post.data.description}
                            image={post.data.image}
                        />
                    </li>
                ))
            }
        </ul>
    </div>
</BaseLayout>
