---
import Header from '../common/header/Header.astro'
import Footer from '../common/footer/Footer.astro'
import '../styles/global.css'

import { WEBPAGE_INFO } from '../constants'

const { pageTitle, pageDescription, pageImage, author } = Astro.props

const title = pageTitle ?? WEBPAGE_INFO.TITLE
const description = pageDescription ?? WEBPAGE_INFO.DESCRIPTION
const image = pageImage ?? WEBPAGE_INFO.IMAGE
---

<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <title>{title}</title>
        <meta name="description" content={description} />
        {author && <meta name="author" content={author} />}

        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={image} />

        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={Astro.url} />
        <meta property="twitter:title" content={title} />
        <meta property="twitter:description" content={description} />
        <meta property="twitter:image" content={image} />
    </head>
    <body>
        <div class="flex flex-col justify-center items-center px-[2rem]">
            <div class="max-w-[768px] w-full">
                <Header />
                <main class="min-h-[600px]">
                    <slot />
                </main>
                <Footer />
            </div>
        </div>
    </body>
</html>
