---
import Giscus from '../common/Giscus.astro'
import BaseLayout from './BaseLayout.astro'
import { GISCUS } from '../constants.ts'
import PostHeader from '../components/PostHeader.astro'

const { frontmatter } = Astro.props
---

<BaseLayout pageTitle={frontmatter.title} pageDescription={frontmatter.description} pageImage={frontmatter.image.url}>
    <article class="w-full space-y-14 rounded-[1rem] tablet:rounded-[0.75rem]">
        <PostHeader
            title={frontmatter.title}
            pubDate={frontmatter.pubDate}
            author={frontmatter.author}
            description={frontmatter.description}
            image={frontmatter.image}
            tags={frontmatter.tags}
        />

        <hr class="border-stone-200 dark:border-stone-700" />

        <div
            class="prose dark:prose-invert prose-stone max-w-none
            prose-p:mt-8
                prose-headings:font-bold prose-headings:mt-12
                prose-a:text-primary-800 dark:prose-a:text-primary-400 hover:prose-a:underline
                prose-pre:rounded-[0.875rem]
                prose-code:before:content-none
                prose-code:after:content-none
                prose-img:rounded-[0.875rem]"
        >
            <slot />
        </div>

        <hr class="border-stone-200 dark:border-stone-700" />

        <Giscus
            client:visible
            repo={GISCUS.REPO}
            repoId={GISCUS.REPO_ID}
            category={GISCUS.CATEGORY}
            categoryId={GISCUS.CATEGORY_ID}
        />
    </article>
</BaseLayout>
